.sides-pad, main, aside, footer {
  padding: 0 20px;
}

.flex-between-spaced, main, .poke-tests__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.output-text, .poke-path__str,
.poke-position__str, .poke-tests-log__str {
  display: inline;
  background-color: #eee;
  padding: 3px 5px;
  font-family: Monospace;
  font-size: 8px;
  font-size: 0.8rem;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body,
body html {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 14px;
}

[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

b {
  font-weight: bold;
}

h2 {
  font-size: 17px;
  font-size: 1.7rem;
}

h3 {
  font-size: 13px;
  font-size: 1.3rem;
  margin: 0;
}

button {
  display: inline-block;
  -moz-user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: 400;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.poke-banner {
  text-align: center;
  height: 200px;
  color: white;
}

.poke-banner h1 {
  margin: 0;
  padding: 0 30px;
  font-size: 40px;
  font-size: 4rem;
}

@media (max-width: 457px) {
  .poke-banner h1 {
    font-size: 17px;
    font-size: 1.7rem;
    padding-top: 40px;
  }
}

.poke-banner p {
  color: #ddd;
  font-style: italic;
  font-size: 10px;
  font-size: 1rem;
}

@media (max-width: 457px) {
  .poke-banner p {
    font-size: 7px;
    font-size: 0.7rem;
  }
}

@media (min-width: 800px) {
  .poke-banner {
    background: url("media/313728_pokeballs-AniMate.png") no-repeat center center;
  }
}

@media (max-width: 799px) {
  .poke-banner {
    background: url("media/313728_pokeballs-AniMate_s.png") no-repeat center center;
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 458px) {
  main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 458px) {
  aside h2 {
    text-align: center;
  }
}

footer {
  border-top: 1px solid #777;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-top: 1rem;
}

.poke-interaction__box,
.poke-output__box {
  width: 220px;
}

@media (min-width: 458px) {
  .poke-location__box {
    padding: 0 30px;
  }
}

.poke-path__wrapper {
  height: 123px;
  overflow-y: scroll;
  border: 1px solid #eee;
}

.poke-path__str {
  overflow-wrap: break-word;
  font-size: 8px;
  font-size: 0.8rem;
}

.poke-results__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.poke-results__wrapper .poke-result__wrapper {
  margin: 1rem 0 0;
  padding: 0 1rem;
  width: 4.5rem;
}

.poke-results__wrapper .poke-result__wrapper:last-of-type {
  border-left: 1px solid #eee;
}

.poke-results__wrapper .poke-result__wrapper button {
  background-color: #0275d8;
  border-color: #0275d8;
  color: #fff;
  width: 4.6rem;
  padding: 0.25rem 0.5rem;
}

.poke-results__wrapper .poke-result__wrapper button:hover {
  background-color: #025aa5;
  border-color: #01549b;
  color: #fff;
}

.poke-results__wrapper .poke-result__wrapper button:focus {
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  outline: 0 none;
}

.poke-results__wrapper .poke-result__wrapper p {
  margin: 0.4rem 0;
}

.poke-in__wrapper {
  text-align: center;
  padding: 51px 0;
  margin-top: 10px;
  background-color: #eee;
}

.poke-letter__in {
  width: 75px;
  height: 70px;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  margin: 5px auto;
  padding: 5px;
}

label {
  display: block;
}

input + label {
  display: inline;
}

.poke-position__label {
  font-size: 10px;
  font-size: 1rem;
  margin-top: 0.6rem;
  font-weight: bold;
}

.poke-map__grid {
  height: 213px;
  width: 213px;
  border: 3px double black;
  box-sizing: border-box;
  overflow: hidden;
}

.poke-map__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poke-map__cell {
  width: 10px;
  height: 10px;
  background-color: #7f7;
  border-left: 1px dotted #777;
  border-bottom: 1px dotted #777;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.visited-bg {
  background-color: #ffd;
}

.visited-bg.current-bg {
  background-color: #c9302c;
}

.poke-tests__btns {
  border-bottom: 1px solid #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.poke-tests__btns input {
  width: 1.8rem;
  padding: 0.3rem;
  margin: 0 0.35rem 1.25rem 0;
}

.poke-tests__btns button {
  margin: 0 0.35rem 1.25rem 0;
  padding: 0.3rem auto;
  font-size: 10px;
  font-size: 1rem;
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
}

.poke-tests__btns button:hover {
  background-color: #c9302c;
  border-color: #c12e2a;
  color: #fff;
}

.poke-tests__btns button:focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
  outline: 0 none;
}

.poke-tests__in {
  padding-right: 1.25rem;
}

.poke-custom-test__in {
  display: block;
  width: 97%;
  height: 40px;
  overflow-y: scroll;
  resize: none;
  padding: 0.3125rem;
  margin-bottom: 1.25rem;
}

.poke-tests__out {
  border-left: 1px solid #eee;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-left: 1.25rem;
  width: 37%;
}

.poke-tests-log__wrapper {
  overflow-y: scroll;
  height: 20rem;
}

.poke-tests-log__str {
  white-space: pre-line;
}

.poke-custom-test__area button {
  background-color: #0275d8;
  border-color: #0275d8;
  color: #fff;
}

.poke-custom-test__area button:hover {
  background-color: #025aa5;
  border-color: #01549b;
  color: #fff;
}

.poke-custom-test__area button:focus {
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  outline: 0 none;
}
